
# Created by https://www.toptal.com/developers/gitignore/api/drupal8
# Edit at https://www.toptal.com/developers/gitignore?templates=drupal8

### Drupal8 ###
# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/docroot/sites/*/settings.local.php
/docroot/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/docroot/sites/*/files
/docroot/sites/*/public
/docroot/sites/*/private
/docroot/sites/*/files-public
/docroot/sites/*/files-private

# Ignore paths that may contain temporary files
/docroot/sites/*/translations
/docroot/sites/*/tmp
/docroot/sites/*/cache

# Ignore testing related files
/docroot/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/vendor
/.htaccess
/docroot/core
/docroot/modules/contrib/
/docroot/modules/README.txt
/docroot/profiles/contrib/
/docroot/profiles/README.txt
/docroot/themes/contrib/
/docroot/themes/README.txt
/docroot/sites/README.txt
/docroot/sites/example.sites.php
/docroot/sites/example.settings.local.php
/docroot/sites/development.services.yml
/docroot/.csslintrc
/docroot/.editorconfig
/docroot/.eslintignore
/docroot/.eslintrc.json
/docroot/.gitattributes
/docroot/.ht.router.php
/docroot/.htaccess
/docroot/autoload.php
/docroot/example.gitignore
/docroot/index.php
/docroot/INSTALL.txt
/docroot/LICENSE.txt
/docroot/README.txt
/docroot/robots.txt
/docroot/update.php
/docroot/web.config

# End of https://www.toptal.com/developers/gitignore/api/drupal8

# Ignore paths that contain user-generated content.
acquia-file
/log


# Ignore vim swp files and gedit temp files
*.swp
*.*~
.vim

# eclipse settings files
.project
.pydevproject
.settings
.buildpath

# netbeans settings files
nbproject

# Ignore OS settings files
.DS_Store*
Thumbs.db
ehthumbs.db

# Ignore files generated by PhpStorm
.idea

# and some random server stuff
.bash_history
.bashrc
errors.log

# Ignore yarn lint dependencies.
node_modules
yarn.lock

# Ignore LucusHost
docroot/*.shtml
docroot/error_log
docroot/.ftpquota

# Ignore backups
backups/

# Ignore Lando
.lando/
